{% extends 'homebase.html.twig' %}

{% block title %}Edit Food{% endblock %}

{% block body %}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ app.user.name }}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/user">User</a></li>
                        <li class="breadcrumb-item active">Food Edit</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <h1>User Edit Food</h1>

                        {{ include('food/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('user_food_index') }}" class="btn btn-block btn-secondary">back to list</a>

                        {{ include('food/_delete_form.html.twig') }}

                    </div>
                </div>
                {{ include('user/usermenu.html.twig') }}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
{% endblock %}
